#maincontainer{
    position: absolute;
    top: 2rem;
    right: 2rem;
    bottom: 2rem;
    left: 2rem;
    border: 3px ridge white;
    overflow: auto;
}

#maincontainer h2{
    border-bottom: 3px ridge white;
    padding: 0.25rem;
}

#modecontainer{
    text-align: center;
}

.mode{
    display: inline-block;
    width: 25rem;
    height: 15rem;
    border: 3px outset white;
    margin: 1rem;
    vertical-align: top;
    position: relative;
}

.mode:hover{
    border: 3px inset red;
    cursor: pointer;
}

.mode h3{
    border-bottom: inherit;
    font-size: 2rem;
    cursor: inherit;
}

.mode p{
    margin: 0.5rem;
    font-size: 1.5rem;
    text-align: justify;
    cursor: inherit;
    margin-bottom: 2rem;
}

.mode label{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 1.5rem;
}