#chat-container{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 25%;
    border-right: 3px ridge white;
}

#members-container{
    position: absolute;
    top: 0;
    left: 25%;
    bottom: 0;
    right: 25%;
}

#write-message-container, #invitation-search-container{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    border-top: 2px ridge white;
    padding: 0.25rem;
}

#messages, .invitation-character-list{
    position: absolute;
    top: 3rem;
    bottom: 3rem;
    left: 0;
    right: 0;
    overflow: auto;
}

#message, #character-name{
    width: calc(100% - 3rem);
}

#send-message-button, #search-characters-button{
    position: absolute;
    top: 0;
    right: 0;
}

#send-message-button img, #search-characters-button img{
    width: 1.25rem;
}

.message-wrapper{
    margin-right: 20%;
}

.message{
    display: inline-block;
    margin: 0.25rem;
    border: 2px ridge white;
    border-radius: 5px;
    min-width: 25%;
}

.message-own{
    text-align: right;
    margin-right: 0;
    margin-left: 20%;
}

.message-sender{
    border-bottom: 1px ridge white;
    padding: 0.25rem;
}

.message-text{
    font-size: 1.25rem;
    text-align: left;
    padding: 0.25rem;
}

#invitation-container{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 25%;
    border-left: 3px ridge white;
}

#reset-invitation-button{
    position: absolute;
    top: 0;
    right: 0;
}

#reset-invitation-button img{
    width: 1.25rem;
}

#no-character-can-be-invited{
    text-align: center;
    font-size: 1.5rem;
    margin-top: 1rem;
}

.invitation-character-list:not(:first-child){
    display: none;
}

.invitable-character{
    font-size: 1.5rem;
    display: relative;
    border: 2px ridge white;
    border-radius: 5px;
    margin: 0.25rem;
    padding: 0.25rem;
}

.invitable-character:hover{
    border-color: red;
}

.invitable-character div:first-child{
    margin-right: 7rem;
}

.button-wrapper{
    position: absolute;
    right: 0.25rem;
    top: 0.25rem;
    text-align: right;
}

.button-wrapper > span{
    display: none;
}

.container-title{
    border-bottom: 2px ridge white;
    text-align: center;
    padding: 0.25rem;
}