#ship{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: calc(100% - 30rem);
    border-right: 3px ridge white;
    padding: 1rem;
}

#ship table{
    border: 3px ridge white;
    margin: auto;
    margin-top: 1rem;
}

#ship table th, #ship table td{
    border: 2px ridge white;
    padding: 0.25rem;
    vertical-align: middle;
}

.slotcontainer{
    text-align: center;
}

.slot{
    border: 3px outset white;
    margin: 0.25rem;
    padding: 0.25rem;
    display: inline-block;
    width: 8rem;
    height: 3rem;
    text-align: center;
    white-space: initial;
    vertical-align: top;
}

.slot:hover{
    border-color: red;
    cursor: pointer;
    border-style: inset;
}

.sideslot{
    width: 9rem;
}

.sideslot .slot{
    display: block;
    margin: auto;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}