#menu{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 20rem;
    border-right: 5px ridge white;
    overflow: auto;
}

#menu h2{
    border-bottom: 3px ridge white;
    padding: 0.25rem;
}

.menuitem{
    position: relative;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.openmenubutton{
    position: absolute;
    top: 2px;
    right: 4px;
    font-size: 0.75rem;
}

.menuchild{
    margin-left: 2rem;
    margin-right: 2rem;
    font-size: 1.25rem;
}