#maillist{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: calc(100% - 35rem);
}

#maillistheader{
    border-bottom: 3px ridge white;
}

#maillistcontainer{
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 4.5rem;
    overflow: auto;
}

.maillistcontainer{
    position: relative;
    height: 100%;
}

.maillistitemcontainer{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 4.5rem;
    padding: 1rem;
    overflow: auto;
    border-top: 3px ridge white;
}