.contentcontainer{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: calc(100% - 15rem);
    overflow: auto;
    text-align: center;
}

.contentcontainer table{
    border: 3px ridge white;
    margin: auto;
    margin-top: 1rem;
}

.contentcontainer table th, .contentcontainer table td{
    border: 2px ridge white;
    padding: 0.25rem;
}

