.contentelement{
    border: 3px ridge white;
    border-radius: 10px;
    margin: 0.5rem;
    text-align: center;
}

.contentelementtitle{
    border-bottom: 3px ridge white;
    font-size: 1.5rem;
}