#menucontainer{
    text-align: center;
    border-bottom: 3px ridge white;
}

#menucontainer button{
    font-size: 1.25rem;
}

#menu_wrapper{
    display: inline-block;
    position: relative;
}

#menu{
    position: absolute;
    left: 100%;
    top: 0;
    white-space: nowrap;
    text-align: right;
}