.queueelement{
    margin: 0.5rem;
    border: 3px ridge white;
    border-radius: 10px;
    text-align: center;
}

.queueelementtitle{
    border-bottom: 3px ridge white;
    padding: 0.25rem;
    font-size: 1.25rem;
}

.queueprocess{
    border: 2px ridge white;
    margin: 0.5rem;
    padding: 0.25rem;
    position: relative;
    min-height: 1.75rem;
}

.processbar{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background: darkblue;
    transition: width 1s;
    transition-timing-function: linear;
}

.processbartext{
    position: absolute;
    padding: 0.25rem;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}