#materials-container{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 20rem;
    border-right: 3px ridge white;
    text-align: center;
}

#materials-title{
    border-bottom: 3px ridge white;
    padding: 0.25rem;
}

#materials{
    display: inline-block;
    text-align: right;
    font-size: 1.25rem;
}