#menu-container{
    position: absolute;
    left: 20rem;
    top: 0;
    bottom: 0;
    width: 20rem;
    border-right: 3px ridge white;
    text-align: center;
}

#menu-title{
    border-bottom: 3px ridge white;
    padding: 0.25rem;
}

#menu{
    position: absolute;
    left: 100%;
    top: 0;
    white-space: nowrap;
    text-align: right;
}