#queue-container{
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 20rem;
    border-left: 3px ridge white;
    text-align: center;
}

#queue-title{
    border-bottom: 3px ridge white;
    padding: 0.25rem;
}

#empty-queue{
    font-size: 1.5rem;
    margin: 0.25rem;
}

.queue-element{
    margin: 0.5rem;
    border: 3px ridge white;
    border-radius: 10px;
    text-align: center;
}

.queue-element-title{
    border-bottom: 3px ridge white;
    padding: 0.25rem;
    font-size: 1.25rem;
}

.queue-process{
    border: 2px ridge white;
    margin: 0.5rem;
    padding: 0.25rem;
    position: relative;
    min-height: 1.75rem;
}

.process-bar{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background: darkblue;
    transition: width 1s;
    transition-timing-function: linear;
}

.process-bar-text{
    position: absolute;
    padding: 0.25rem;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}