#friendlist{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 35rem;
    border-right: 5px ridge white;
}

#friendlistheader{
    border-bottom: 3px ridge white;
}

#friendlistcontainer{
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 4.5rem;
    overflow: auto;
}

#blockedcharacters{
    display: none;
}