#maillist{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: calc(100% - 35rem);
}

#maillistheader{
    border-bottom: 3px ridge white;
}

#maillistcontainer{
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 4.5rem;
    overflow: auto;
}

.maillistcontainer{
    position: relative;
    height: 100%;
}

.maillistitemcontainer{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 2rem;
    padding: 1rem;
    overflow: auto;
}

.mailitem{
    border: 3px ridge white;
    margin: 0.5rem;
}

.mailitem:hover{
    border-color: red;
}

.unreadmail{
    border-color: lightgreen;
}

.mailheader{
    cursor: pointer;
    border-bottom: 2px ridge white;
}

.mailheader *{
    cursor: pointer;
}

.mailheader table{
    width: 100%;
    padding: 0.25rem;
}

.mailheader table td{
    padding: 0.25rem;
    font-size: 1.25rem;
    vertical-align: middle;
}

.mailheader table tr:first-child td:first-child{
    border-right: 3px ridge white;
    padding: 0 0.5rem;
}

.mailheader table td input[type="checkbox"]{
    -ms-transform: scale(2); /* IE */
    -moz-transform: scale(2); /* FF */
    -webkit-transform: scale(2); /* Safari and Chrome */
    -o-transform: scale(2); /* Opera */
    padding: 10px;
}

.mailbody{
    display: none;
    padding: 0.25rem;
}

.mailbody textarea{
    background: transparent;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 3px solid white;
    resize: none;
    padding: 0.25rem;
    font-size: 1.25rem;
    height: 15rem;
}

.mailbody textarea:disabled{
    cursor: initial;
}